/* Nombre de autor:Antonio Barril Hernandez  */
/* Curso:2 DAW  */
/* Escuela: Escuela Virgen de guadalupe  */
/* Proyecto fin de ciclo: Proyecto de Web de Gestión de Incidencias Municipales  */
/* Año:2020  */

/*Importando las fuentes necesarias*/
/*<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Manuale&family=Podkova&display=swap" rel="stylesheet">*/
/*Colores*/
/*Color azul muy oscuro: #222831*/
/*Color azul marino:#30475e*/
/*dorado:#f2a365*/
/*Gris: #ececec*/


html {
	/*width: 1300px;*/
	margin: 0 auto;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

body {
	width: 100%;
	background-color: #dac682;
}

#header {
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

#header img {
	width: 700px;
	display: block;
	margin: auto;
	/*margin-left: 500px;*/
}

#menu {
	display: flex;
	flex-direction:row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 0;
	overflow: hidden;


}

#menu a:hover {
	color: #ececec;
	text-decoration: none;
}

.nav {
	flex-grow: 1;
	background: #222831;
	color: #f2a365;
	justify-content: center;
	text-decoration: none;
	font-size: 20px;
	padding:10px 20px;
	border: 2px solid #ececec;
}

footer {
	text-align: left;

	font-size: 13px;
}

#footer {

	background-color: #30475e;
	text-align: center;

	padding-top: 10px;
}

#footer li {
	display: inline-block;
	text-align: center;
}

#footer a {
	color: #f2a365;
}

#footer a:hover {
	color: #ececec;
	text-decoration: none;
}

#contenedor {
	background-color: #f1eade;
	padding: 10px;
	font-size: 15px;
}

#contenedor h4 {
	text-align: center;
	font-style: italic;
	text-decoration: underline;
}
#contenedor button
{
	width:100%;
	background-color: #30475e;
	color:#f2a365;
}
#menuincidencias {
	float: right;

}
#titulodelasincidencias
{
	height: 50px;
}
#misincidencias p
{
	font-weight: bold;
	text-decoration: underline;
	font-size: 18px;

}
/*Login estilo*/
#formulario {
	width: 100px;
	text-align: center;
	margin: auto;
}

@media (max-width: 40em) {
	#menu {
		flex-direction: column;
	}
}
